* {
  box-sizing: border-box;
}
center-l {
  box-sizing: content-box;
}

/* 
 * Typo
 */
:root {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Font sizes */
:root {
  font-size: calc(1rem + 0.5vw);
}
* {
  max-width: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

h2,
h3 {
  max-width: 60ch;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

h2 strong {
  font-size: 1.125em;
}

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack > * + * {
  margin-top: var(--space);
}

.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: var(--measure);
  padding-left: 1;
  padding-right: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
}